DATABASE_URL="postgresql://postgres:postgres@localhost:5432/last_breath_arena"
NEXTAUTH_SECRET="replace_me"
NEXTAUTH_URL="http://localhost:3000"
PLUGIN_API_SHARED_SECRET="replace_plugin_secret"
APP_NAME="Last Breath Arena"
PLATFORM_FEE_PERCENT="0"
FEATURE_PUBLIC_CHALLENGES="true"
FEATURE_SEASONS="true"
